@import '../config/config.scss'; // import config setting


html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  line-height: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
}

:root {
  height: auto;
  overflow-x: hidden;
  background-color: $bg-color;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

@mixin bgsetting($width, $height, $bg, $att, $rep, $size) {
  width: $width;
  height: $height;
  background: $bg;
  background-size: $size;
  background-attachment: $att;
  background-repeat: $rep;
}

@mixin titlesetting() {
  width: 90vw;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;

  box-shadow:
    0 4px 10px 0 rgba(59, 105, 116, 0.2),
    0 2px 15px 0 rgba(244, 240, 240, 0.19);

  h1 {
    padding: 0 20px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 830px) {
    h1 {
      padding: 10px 20px;
    }
  }
}

@mixin tocenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.load {
  width: 100vw;
  height: 100vh;
  background-color: $second-bg-color;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 25px;
  }
}

.container {
  background-color: $bg-color;
  width: 100%;
  height: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $bg-color;
  padding: 16px 32px;
  border-bottom: 3px $greenblue solid;
  backdrop-filter: blur(0.5px);

  transition: all 300ms ease-in-out;

  .nav-container {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .menu {
      display: none;

      justify-content: flex-end;
      margin: 0 -16px;

      a {
        color: #fff;
        margin: 0 16px;
        font-weight: 600;
        transition: 0.4s;
        padding: 8px 16px;
        border-radius: 99px;
        text-transform: uppercase;
        &.is-active,
        &:hover {
          background-color: rgba(225, 215, 225, 0.3);
        }
      }
    }

    .hamburger {
      display: block;
      position: relative;
      z-index: 1;
      user-select: none;
      appearance: none;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;

      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background-color: $light;
        border-radius: 6px;
        z-index: 1;
        transform-origin: 0 0;
        transition: 0.4s;
      }

      &.is-active span:nth-child(1) {
        transform: translate(0px, -2px) rotate(45deg);
      }

      &.is-active span:nth-child(2) {
        opacity: 0;
        transform: translateX(15px);
      }

      &.is-active span:nth-child(3) {
        transform: translate(-3px, 3px) rotate(-45deg);
      }

      &.is-active:hover span {
        background-color: $babyblue;
      }
    }
  }
}

.nav2-container {
  transition: 0.4s;
  position: fixed;
  z-index: 90;
  top: -100vh;
  height: 50vh;
  width: 100vw;
  background-color: $dark;
  border-bottom: #eeeeee 0.5px solid;

  .menu2 {
    width: 100%;
    height: auto;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -25%);
    .box {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }

      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-transform: uppercase;
        padding: 0 10px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        transition: 0.4s;
        padding: 8px 16px;
        border-radius: 99px;

        &.is-active,
        &:hover {
          background-color: rgba(25, 134, 193, 0.687);
        }
      }
    }
  }

  &.is-active {
    top: 0;
    transform: translateY(65px);
  }
}

.scroll-down {
  .container nav {
    transform: translate3d(0, -100%, 0);
  }
}

.scroll-up {
  .container nav {
    border-bottom: 3px $greenblue solid;
  }
}

.sec1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .home {
    height: 70vh;
    min-width: 70vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ph-container {
      height: 15vh;
      width: auto;
      border-radius: 100%;
      overflow: hidden;

      img {
        height: 100%;
        width: auto;
      }
    }

    h2 {
      margin-top: 25px;
      font-size: 18px;
    }
  }

  .arrow {
    top: 90%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, 90%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: arrow 1s ease-in-out infinite;

    span {
      display: block;
      width: 25px;
      height: 4px;
      position: relative;

      background-color: #fff;
      border-radius: 6px;
      z-index: 1;
      transform-origin: 0 0;
      transition: 0.4s;
    }

    span:nth-child(1) {
      transform: translate(4px, 7px) rotate(-45deg);
    }

    span:nth-child(2) {
      transform: translate(0px, -8px) rotate(45deg);
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0px);
  }
}

.sec2 {
  width: 100vw;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .title {
    @include titlesetting();
  }
}

.sec3 {
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 20px;

  .title {
    @include titlesetting();
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sec4 {
  margin-top: 20px;
  background-color: $second-bg-color;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    @include titlesetting();
  }

  .about {
    background-color: $second-bg-color;
    width: 100vw;
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

    .about-me {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 550px;
      font-size: $mobile_font_size;
      padding: 25px;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 7px;
    }

    .skills {
      max-width: 800px;
      min-height: 50vh;
      background-color: $second-bg-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      color: $dark;
      .skill {
        display: flex;
        width: auto;
        padding: 20px 0;
        border-radius: 8px;
        background: $second-bg-color;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 20px 0 20px;

        .circular-progress {
          position: relative;
          height: 160px;
          width: 160px;
          background-color: #f0ff;
          border-radius: 50%;
          background: conic-gradient($progress 3.6deg, #ededed 0deg);
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            .img {
              display: none;
            }
          }

          .img {
            position: absolute;
            height: 135px;
            width: 135px;
            top: 13px;
            left: 13px;
            border-radius: 50%;
            z-index: 2; /* 將圖片放在進度條底下 */
            overflow: hidden; /* 確保圖片內容在圓形區域內 */
            background-color: $circle_color;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
              position: relative;
              width: 80%;
              height: 80%;
              object-fit: cover; /* 確保圖片內容填滿整個圓形區域 */
            }
          }

          &::before {
            content: "";
            position: absolute;
            height: 135px;
            width: 135px;
            border-radius: 50%;
            background-color: #fff;
            transition: 0.1s ease-in-out;
          }

          .progress-value {
            position: relative;
            font-size: 20px;
            font-weight: 600;
            color: #4b94b4;
          }
        }

        .text {
          font-size: 20px;
          font-weight: 500;
          color: $text_color;
          margin-top: 15px;
        }
      }
    }
  }
}

.sec5 {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $second-bg-color;

  footer {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .follow {
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        .fa-brands {
          color: #7dc7e7a7;
          font-size: 35px;
        }
      }
    }
  }

  span {
    margin: 20px 0;
    width: 80vw;
    border-bottom: #efefef 1px solid;
  }

  .copyright {
    width: 100vw;
    height: auto;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 830px) {
  nav {
    background-color: $bg-color;
  }

  nav .nav-container {
    h1 {
      font-size: 20px;
    }

    .menu {
      display: block;
    }

    .hamburger {
      display: none;
    }
  }

  .sec1 {
    .home {
      .ph-container {
        height: 25vh;

        img {
          height: 100%;
          width: auto;
        }
      }

      h2 {
        font-size: 22px;
      }
    }
  }

  .sec4 .about .about-me {
    padding: 50px;
    font-size: 20px;
  }

  .sec4 .about .skills .skill .circular-progress {
    width: 200px;
    height: 200px;

    &:hover {
      .img {
        display: none;
      }
    }

    .img {
      position: absolute;
      height: 168px;
      width: 168px;
      top: 16px;
      left: 16px;
      border-radius: 50%;
      z-index: 2; /* 將圖片放在進度條底下 */
      overflow: hidden; /* 確保圖片內容在圓形區域內 */
      background-color: $circle_color;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        // position: relative;
        width: 80%;
        height: 80%;
        object-fit: cover; /* 確保圖片內容填滿整個圓形區域 */
      }
    }

    &::before {
      width: 168px;
      height: 168px;
    }

    .progress-value {
      font-size: 30px;
    }
  }
}
