@import '../config/config.scss';

$line_height_1: 30px;
$line_height_2: 30px;

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  h1 {
    line-height: $line_height_2;
  }

  h2 {
    line-height: $line_height_2;
  }

  h3 {
    line-height: $line_height_2;
  }

  p {
    line-height: $line_height_1;
  }

  li {
    line-height: $line_height_1;
  }
}

:root {
  background-color: $bg-color;
  overflow-x: hidden;
  height: auto;
  color: #ffffffce;
  font-family: 'Montserrat', sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

@mixin font-setting($rgbkey) {
  padding: 0.3em;
  font-size: 85%;
  border-radius: 3px;
  background-color: rgbkey;
}

.light {
  @include font-setting(rgba(255, 255, 255, 0.28));
}

.info {
  @include font-setting(rgba(32, 158, 226, 0.28));
}

.success {
  @include font-setting(rgba(83, 230, 80, 0.582));
}

.warning {
  @include font-setting(rgba(199, 113, 42, 0.783));
}

.danger {
  @include font-setting(rgba(202, 38, 38, 0.775));
}

.mark {
  @include font-setting(rgba(229, 229, 47, 0.726));
}

/* 修改水平分隔线的样式 */
hr {
  border-radius: 50px; /* 移除默认的边框 */
  height: 2px; /* 设置分隔线高度 */
  background-color: #ffffff3f; /* 设置分隔线颜色 */
}


.to-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 99%;
  z-index: 189;
  width: 60px;
  height: 60px;
  bottom: 3vh;
  right: 3vw;

  .imgcontainer { 
    cursor: pointer;
    transition: all ease-in-out 300ms;
    img {
      width: 100%;
      height: auto;
    }
  }
}

#single-container {
  
  width: 100%;
  height: auto;
  position: relative;
  top: 50px;
  background-color: $bg-color;

  .article-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    article {
      width: 60vw;
      max-width: 1200px;
      min-height: 100vh;
      margin: 25px;
      background-color: #323946;
      padding: 30px;

      h1 {
        color: #fff;
      }

      a {
        color: $link_color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

pre {
  border-radius: 5px;
}

@media (max-width: 900px) {
  /* 手機版樣式設定 */

  * {
    p {
      font-size: 16px;
    }
  }

  .to-top {
    display: none;
  }

  #single-container {
    margin: 0;
    width: 100vw;

    .article-container {
      article {
        width: 100%;
        margin: 10px 0px;
        padding: 15px;
      }
    }
  }
}
