@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

$bg-color: #1f242d;
$second-bg-color: #323946;
$line_height_1: 35px;
$line_height_2: 45px;

html{
    height: 100%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;

    h1{
        line-height: $line_height_2;
    }

    h2{
        line-height: $line_height_2;
    }

    h3{
        line-height: $line_height_2;
    }

    p{
        line-height: $line_height_1;
    }
    
}

:root    
{
    overflow-x: hidden;
    height: auto;
    overflow-x: hidden;
    background-color: $bg-color;
    color: #ffffffce;
    font-family: 'Noto Sans JP', sans-serif;
}


.load{
    width: 100vw;
    height: 100vh;
    background-color: $second-bg-color;
    position: fixed;
    z-index: 9999;
    top: 0;
    right:0;

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 25px;
    }

}


.container{

    width: 100vw;
    height: auto;
    position: absolute;
    top: 50px;
    .article-container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        article{
            line-height: 45px;
            width: 60vw;
            max-width: 1200px;
            min-height: 100vh;
            margin: 25px;
            background-color: #323946;
            padding: 30px;

            h1{
                color: #FFF;
            }
        }
    }
    
}

pre{
    border-radius: 5px;
}



@media (max-width: 768px) {
    /* 手機版樣式設定 */

    *{    
      p{
            font-size: 16px;
        }
    }

    .container{
        margin: 0;
        width: 100vw;
        
        .article-container{
            article{
                width: 100%;
                margin: 10px 0px;
            }
        }
    }
}
