@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;1,300;1,400&family=M+PLUS+Rounded+1c:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  overflow-x: hidden;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #1f242d;
  color: #f0f0f0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
}

blockquote {
  border-radius: 10px;
  padding: 2px 10px;
  background-color: #535d6f;
}

.light {
  border-radius: 3px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.28);
  color: #eee;
}

.info {
  border-radius: 3px;
  padding: 3px;
  background-color: #d9edf7;
  color: #31708f;
}

.success {
  border-radius: 3px;
  padding: 3px;
  background-color: #dff0d8;
  color: #3c763d;
}

.warning {
  border-radius: 3px;
  padding: 3px;
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.danger {
  border-radius: 3px;
  padding: 3px;
  background-color: #f2dede;
  color: #a94442;
}

.mark {
  border-radius: 3px;
  padding: 3px;
  background-color: rgba(229, 229, 47, 0.726);
  color: #eee;
}

/* 修改水平分隔线的样式 */
hr {
  border-radius: 50px; /* 移除默认的边框 */
  height: 2px; /* 设置分隔线高度 */
  background-color: rgba(255, 255, 255, 0.2470588235); /* 设置分隔线颜色 */
}

.to-top {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 99%;
  z-index: 189;
  bottom: 3vh;
  right: 3vw;
  margin: 0;
  padding: 0;
}
.to-top .imgcontainer {
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.to-top .imgcontainer img {
  width: 100%;
  height: auto;
}

#single-container {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  background-color: #1f242d;
  display: flex;
  justify-content: center;
  align-items: center;
}
#single-container h1 {
  line-height: 30px;
  position: relative;
}
#single-container h1::after {
  content: ""; /* 或者 content: ' '; 如果你希望有一個空白字符 */
  background-color: #b4b4b4;
  width: 100%;
  height: 1px;
  position: absolute; /* 絕對定位，以相對於 h1 定位 */
  bottom: -8px;
  left: 0; /* 距離左側的距離，這裡設為 5% 以中心對齊 90% 的寬度 */
}
#single-container h1:hover {
  border-left: 3px solid #b4b4b4;
  padding-left: 3px;
  border-radius: 2px;
}
#single-container h2 {
  line-height: 30px;
}
#single-container h2:hover {
  border-left: 3px solid #b4b4b4;
  padding-left: 3px;
  border-radius: 2px;
}
#single-container h3 {
  line-height: 30px;
}
#single-container h3:hover {
  border-left: 3px solid #b4b4b4;
  padding-left: 3px;
  border-radius: 2px;
}
#single-container p {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.802);
}
#single-container li {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.802);
}
#single-container img {
  max-width: 95%;
  height: auto;
}
#single-container img:hover {
  border-left: 3px solid #b4b4b4;
  padding-left: 3px;
  border-radius: 2px;
}
#single-container article {
  width: 60vw;
  max-width: 1200px;
  min-height: 100vh;
  margin: 25px;
  background-color: #323946;
  padding: 30px;
}
#single-container article h1 {
  color: #fff;
}
#single-container article a {
  color: #83d9e1;
}
#single-container article a:hover {
  text-decoration: underline;
}

pre {
  border-radius: 5px;
}

@media (max-width: 900px) {
  /* 手機版樣式設定 */
  * p {
    font-size: 16px;
  }
  .to-top {
    display: none;
  }
  #single-container {
    margin: 0;
    width: 100vw;
  }
  #single-container article {
    width: 100%;
    margin: 10px 0px;
    padding: 15px;
  }
}

/*# sourceMappingURL=single.css.map */
