/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.slide-container{
    width: 85vw;
    /* max-width: 1120px; */
    padding: 20px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
    width: 300px;
    height: 400px;
    border-radius: 25px;
    background-color: #323946;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    /* justify-content: space-between; */
}
.image-content{
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    row-gap: 5px;
    padding: 25px 0;
}

.card-image{
    position: relative;
    width: 95%;
    height: auto;
    background: #FFF;
    /* padding: 3px; */
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    row-gap: 5px;
    padding: 25px 0;
    justify-content: flex-start;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}
.description{
    line-height: 22px;
    font-size: 14px;
    color: #b9b9b9;
    text-align: center;
}
.button{
    position: absolute;
    z-index: 10;
    bottom: -15px;
    border: none;
    font-size: 14px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 860px) {

    .slide-container{
        width: 85vw;
        /* max-width: 1120px; */
        padding:0;
    }
 
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }

    .slide-container{
        width: 95%; 
        max-width: 1120px;   
    }
}