@import '../config/config.scss';

body{
    margin: 0;
    padding: 0;
}

:root{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 192;
    background-color: $bg-color;
    padding: 16px 32px;
    border-bottom: 3px $greenblue solid;
    backdrop-filter: blur(0.5px);

    transition: all 300ms ease-in-out;

    
    .nav-container{
        max-width: 1280px;
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;  
        justify-content: space-between;
        align-items: center;
        
            
        a{
            width: fit-content;
            height: auto;
            span{
                font-size:  20px;
                font-weight: 600;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $text_color;
            }
        }
    
        .tools{
            flex: .2;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: fit-content;
            height: fit-content;
            .fa-solid{
                position: relative;
                bottom: 1px;
                padding: 4px 8px;
                border-radius: 5px;
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: #EEEEEE;
                color: #555;
                font-size: 20px;
                margin-right: 10px;
            }

            .hamburger{
                padding: 2px;
                display: block;
                position: relative;
                z-index: 1;
                user-select: none;
                appearance: none;
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
    
                span{
                    display: block;
                    width: 33px;
                    height: 4px;
                    margin-bottom: 5px;
                    position: relative;
        
                    background-color: $light;
                    border-radius: 6px;
                    z-index: 1;
                    transform-origin: 0 0;
                    transition: .4s;
                }
        
                &.is-active span:nth-child(1){
                    transform: translate(0px, -2px) rotate(45deg);
                }
        
                &.is-active span:nth-child(2){
                    opacity: 0;
                    transform: translateX(15px);
                }
        
                &.is-active span:nth-child(3){
                    transform: translate(-3px, 3px) rotate(-45deg);
                }
        
                &.is-active:hover span{
                    background-color: $babyblue;
                }
            }
        }

    }
}


.nav2-container{
    z-index: 191;
    transition: .4s;
    position: fixed;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: $dark;
    // border: #eeeeee69 1px solid;
    box-shadow: 0 4px 10px 0 rgba(59, 105, 116, 0.2), 0 2px 10px 0 rgba(244, 240, 240, 0.19);

    .menu2{
        padding: 8vh 20px 20px 20px;
        width: 100%;
        height: 100%;
        position: relative;

        h1{
            font-size: 18px;
            text-transform: uppercase;
            border-bottom: #FFF solid 1.5px;
        }

        .menu2-container{
            margin: 0;
            width: 100%;
            height: auto;
            padding: 8px;
            display: flex;
            flex-wrap: wrap;
            // justify-content: flex-start;
            // align-items: flex-start;

            .box{
                width: fit-content;
                height: fit-content;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                a{
                    text-transform: uppercase;
                    color: #FFF;
                    font-weight: 600; 
                    font-size: 14px;
                    transition: .4s;
                    padding: 3px 9px;
                    border-radius: 99px;
                    
                    &.is-active, &:hover{
                        background-color: rgba(25, 134, 193, 0.687);
                    }
                }
            }

        }

        
    }

    &.is-active{
        right: 0;
        // transform: translateY(65px);
    }
}

.scroll-down{
    nav{
        transform: translate3d(0, -100%, 0);
    }
}

.scroll-up{
    nav{
        border-bottom: 3px $greenblue solid;
    }
}

@media (max-width: 768px) {
    /* 手機版樣式設定 */

    nav .nav-container a span{ 
        font-size: 18px;
    }

    .nav2-container .menu2{
        padding: 55px 20px 20px 20px;
        .menu2-container{
            .box{
                margin: 6px;
                a{
                    font-size: 14px;
                    padding: 3px 10px;
                }
            }
        }

        
    }

    
}