<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}css/partials/header.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}css/partials/footer.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}css/list/list.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}css/basic_setting/basic_setting.css">
     <title>Vincent's Blog</title>
</head>
<body>
     {{ partial "header.html" . }}

     <div class="container">     
          <div class="posts-container">
               <ul>
                    {{ range .Paginator.Pages }}
                         <li>
                              <a href="{{ .Permalink }}">
                                   <h2>{{ .Title }}</h2>
                                   <p>{{ .Date.Format "2006-01-02" }}</p>
                              </a>
                         </li>
                    {{ end }}
               </ul>

               <div class="prev-next-pages">

                    {{ if .Paginator.HasPrev }}
                         <button>
                              <a href="{{ .Paginator.Prev.URL }}">Prev</a>
                         </button>
                    {{ end }}
                    
                    {{ if .Paginator.HasNext }}
                         <button>
                              <a href="{{ .Paginator.Next.URL }}">Next</a>
                         </button>
                    {{ end }}
               </div>
          </div>

          {{ partial "footer.html" .}}
     </div>
</body>
     <script src="{{ .Site.BaseURL }}/js/header.js"></script>
</html>