{{ define "footer" }}
    <section class="sec5 move-left">
        <footer>
            <div class="follow">
                <a href="https://www.instagram.com/meng_337/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/mengxian0913"><i class="fa-brands fa-github"></i></a>
                <a href = "mailto:mengxian0913@gmail.com"><i class="fa-regular fa-envelope" style="color: #7dc7e7a7; font-size: 35px;"></i></a>
                <a href="https://www.youtube.com/channel/UCPBKnFDsCD3kIm_APgxGHew"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </footer>

        <span></span>

        <div class="copyright">
            <p>
                Copyright © 2023 Yang, Meng-Xian. All rights reserved.
            </p>
        </div>
    </section>
{{ end }}