<section class="sec5 move-left">
    <footer>
        <div class="follow">
            <a href="https://www.instagram.com/meng_337/"><img src="{{ .Site.BaseURL }}/icon/Instagram_icon-icons.com_66804.ico" alt="instagram-logo"></a>
            <a href="https://github.com/mengxian0913"><img src="{{ .Site.BaseURL }}/icon/github-logo_icon-icons.com_73546.ico" alt="github-logo"></a>
            <a href = "mailto:mengxian0913@gmail.com"><img src="{{ .Site.BaseURL }}/icon/4202011emailgmaillogomailsocialsocialmedia-115677_115624.ico" alt="mail-logo"></a>
            <a href="https://www.youtube.com/channel/UCPBKnFDsCD3kIm_APgxGHew"><img src="{{ .Site.BaseURL }}/icon/Youtube_icon-icons.com_66802.ico" alt="youtube-logo"></a>
            
        </div>
    </footer>

    <span></span>

    <div class="copyright">
        <p>
            Copyright © 2023 Yang, Meng-Xian. All rights reserved.
        </p>
    </div>
</section>