<nav>
    <div class="nav-container">
       <a href="/"><span style="line-height: 30px;">Vincent's Blog</span></a>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>


<div class="nav2-container">
    <div class="menu2">
        <h1>tags</h1>
        <div class="menu2-container">
            <div class="box"><a href="/posts/" style="line-height: 30px;">all posts</a></div>
            {{ range $tag, $pages := .Site.Taxonomies.tags }}
                <div class="box"><a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}" style="line-height: 30px;">{{ $tag }}</a></div>
            {{ end }}
        </div>
        
    </div>
</div>



