<nav>
    <div class="nav-container">
        <h1>Posts</h1>
        
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>


<div class="nav2-container">
    <div class="menu2">
        <div class="box"><a href="#home">home</a></div>
        <div class="box"><a href="#posts">posts</a></div>
        <div class="box"><a href="#projects">projects</a></div>
        <div class="box"><a href="#skills">about</a></div>
    </div>
</div>