<div id="matte-background" class=""></div>

<div class="search-background">
    <div class="search-container">
        <div class="row">
            <button class="fa-solid fa-xmark"></button>
            <input type="text" id="searchInput" placeholder="Search...">
            <button id="searchButton" class="fa-solid fa-magnifying-glass" type="submit"></button>
            
        </div>
        <!-- 顯示搜尋結果的容器 -->
        <div id="searchResults">
            <ul>
            </ul>
        </div>
    </div>
</div>