<style>
    #single-load-container {
        height: 100vh;
        width: 100vw;
        /* $bg-color: #1f242d; */
        /* $second-bg-color: #323946; */
        background-color: #1f242d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #single-load {
        position: relative;
        top: 4vh;
        height: 96vh;
        width: 60vw;
        background-color: #323946;
        padding: 20px 0 0 20px;
    }
</style>


<div id="single-load-container">
    <div id="single-load">
        <div class="title"></div>
        <div class="article"></div>
        <div class="img"></div>
        <div class="article"></div>
    </div>
</div>

<script src="{{ .Site.BaseURL }}/js/single_load.js"></script>