<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/index/index.css">
     <!-- Swiper CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

     <!-- CSS -->
     <link rel="stylesheet" href="{{ .Site.BaseURL }}css/slide/slide.css">
    <title>MengXian's Blog</title>
</head>
<body>
    <div class="container">

        <nav>
            <div class="nav-container">
                <h1>Vincent's Blog</h1>

                <div class="menu">
                    <a href="#home">home</a>
                    <a href="#posts">posts</a>
                    <a href="#projects">projects</a>
                    <a href="#skills">about</a>
                </div>

                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>

        <div class="nav2-container">
            <div class="menu2">
                <div class="box"><a href="#home">home</a></div>
                <div class="box"><a href="#posts">posts</a></div>
                <div class="box"><a href="#projects">projects</a></div>
                <div class="box"><a href="#skills">about</a></div>
            </div>
        </div>

        <section class="sec1" id="home">
                <div class="home">
                    <div class="ph-container">
                        <img src="{{ .Site.BaseURL }}/images/IMG_0878 2.JPG" alt="我的大頭照">                        
                    </div>
                    <h2>
                        Here is Vincent Yang
                    </h2>
                </div>
                <div class="arrow">
                    <span></span>
                    <span></span>
                </div>
        </section>
        

        <section class="sec2" id="posts">
            <div class="title">
                <h1>posts</h1>
            </div>
            <div id="posts-section">
                <a href="{{ .Site.BaseURL }}posts">Go to Blog</a>
            </div>
        </section>



        <section class="sec3" id="projects">
            <div class="title">
                <h1>
                    Projects
                </h1>
            </div>
            
            <!-- 專案展示區開始 -->
            <div id="project-section">
                {{ partial "project-slide.html" }}
            </div>
            <!-- 專案展示區結束 -->
            
         </section>


        <section class="sec4" id="skills">

            <h1 class="title">
                About me
            </h1>
            
            <div class="about">
                <article class="about-me">
                    I am a Computer Science scholar at Feng Chia University. I am dedicated to learning front-end design skills and researching algorithms. I am also an avid badminton player.
                </article>
    
                <div class="skills">
                   
                   <div class="skill">
                        <div class="circular-progress Front-design">
                            <div class="img"><img src="{{ .Site.BaseURL}}/images/webdesign.png" alt="badminton-field"></div>
                            <span class="progress-value">50%</span>
                        </div> 
                        <span class="text">
                            Web / App
                        </span>     
                   </div>
    
                   <div class="skill">
                        <div class="circular-progress Alogorithm">
                            <div class="img"><img src="{{ .Site.BaseURL}}/images/deep-learning.png" alt="badminton-field"></div>
                            <span class="progress-value">70%</span>
                        </div> 
                        <span class="text">
                            Algorithm
                        </span>     
                   </div>
    
                   <div class="skill">
                        <div class="circular-progress Badminton">
                            <div class="img"><img src="{{ .Site.BaseURL}}/images/badminton-field.png" alt="badminton-field"></div>
                            <span class="progress-value">85%</span>
                        </div> 
                        <span class="text">
                            Badminton
                        </span>     
                   </div>
                </div>
            </div>
            
        </section>

        



        <section class="sec5">
            <footer>
                <div class="follow">
                    <a href="https://www.instagram.com/meng_337/"><img src="{{ .Site.BaseURL }}/icon/Instagram_icon-icons.com_66804.ico" alt="instagram-logo"></a>
                    <a href="https://github.com/mengxian0913"><img src="{{ .Site.BaseURL }}/icon/github-logo_icon-icons.com_73546.ico" alt="github-logo"></a>
                    <a href = "mailto:mengxian0913@gmail.com"><img src="{{ .Site.BaseURL }}/icon/4202011emailgmaillogomailsocialsocialmedia-115677_115624.ico" alt="mail-logo"></a>
                    <a href="https://www.youtube.com/channel/UCPBKnFDsCD3kIm_APgxGHew"><img src="{{ .Site.BaseURL }}/icon/Youtube_icon-icons.com_66802.ico" alt="youtube-logo"></a>
                    
                </div>
            </footer>

            <span></span>

            <div class="copyright">
                <p>
                    Copyright © 2023 Yang, Meng-Xian. All rights reserved.
                </p>
            </div>
        </section>

    </div>
</body>
    <script src="{{ .Site.BaseURL }}js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- JavaScript -->
    <script src="{{ .Site.BaseURL }}js/slide.js"></script>



    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyAMwCptTPCw_T45MzkpEdA2A4j2n1l-UN8",
          authDomain: "vincent-s-blog.firebaseapp.com",
          projectId: "vincent-s-blog",
          storageBucket: "vincent-s-blog.appspot.com",
          messagingSenderId: "783012555676",
          appId: "1:783012555676:web:d9e0bf24824f2987e67659",
          measurementId: "G-WKMFMC1P2H"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
      </script>

</html>