// font setting
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;1,300;1,400&family=M+PLUS+Rounded+1c:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
$text_color: #fff;
$summary_color: #ffffff8b;
$link_color: #83d9e1; // for unclick link

// background color
$bg-color: #1f242d;
$second-bg-color: #323946;
$dark: #212121;
$babyblue: #7fc0e6;
$card: rgba(99, 145, 158, 0.77);
$nav_color: rgba(225, 215, 225, 0.3);
$light: #eeeeee;
$greenblue: rgba(12, 70, 103, 0.644);
$progress: rgba(73, 175, 231, 0.777);
$mobile_font_size: 16px;
$circle_color: rgb(27, 73, 88);

:root {
  overflow-x: hidden;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: $bg-color;
  // color: #fff;
  color: #f0f0f0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
