@import "../../config/config.scss";

.catalog-container {
  position: fixed;
  z-index: 100;
  top: 10vh;
  left: 2vw;
  width: 15vw;
  height: auto;
  margin: 0;
  padding: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        margin: 0;
        padding: 0;
        color: $text_color;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 900px) {
  .catalog-container {
    display: none;
  }
}
