@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #1f242d;
  padding: 16px 32px;
  border-bottom: 3px rgba(12, 70, 103, 0.644) solid;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  transition: all 300ms ease-in-out;
}
nav .nav-container {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container a {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}
nav .nav-container a span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
}
nav .nav-container .hamburger {
  padding: 2px;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
nav .nav-container .hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #EEEEEE;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
nav .nav-container .hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
nav .nav-container .hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
nav .nav-container .hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
nav .nav-container .hamburger.is-active:hover span {
  background-color: #7FC0E6;
}

.nav2-container {
  transition: 0.4s;
  position: fixed;
  z-index: 90;
  top: -100vh;
  height: 90vh;
  width: 100vw;
  background-color: #212121;
  border-bottom: #EEEEEE 0.5px solid;
}
.nav2-container .menu2 {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.nav2-container .menu2 h1 {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: #FFF solid 1.5px;
}
.nav2-container .menu2 .menu2-container {
  width: 100vw;
  height: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.nav2-container .menu2 .menu2-container .box {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav2-container .menu2 .menu2-container .box a {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  transition: 0.4s;
  padding: 3px 9px;
  border-radius: 99px;
}
.nav2-container .menu2 .menu2-container .box a.is-active, .nav2-container .menu2 .menu2-container .box a:hover {
  background-color: rgba(25, 134, 193, 0.687);
}
.nav2-container.is-active {
  top: 0;
  transform: translateY(65px);
}

.scroll-down nav {
  transform: translate3d(0, -100%, 0);
}

.scroll-up nav {
  border-bottom: 3px rgba(12, 70, 103, 0.644) solid;
}

@media (max-width: 768px) {
  /* 手機版樣式設定 */
  nav .nav-container a span {
    font-size: 18px;
  }
  .nav2-container .menu2 {
    padding: 8px;
  }
  .nav2-container .menu2 .menu2-container {
    padding: 8px;
  }
  .nav2-container .menu2 .menu2-container .box {
    margin: 6px;
  }
  .nav2-container .menu2 .menu2-container .box a {
    font-size: 14px;
    padding: 3px 10px;
  }
}/*# sourceMappingURL=header.css.map */