{{ $ImagePath := (.Get 0) }}
{{ $ImageFiles := readDir (printf "static/%s" $ImagePath)}}
{{ $swiperID := (.Get 1) }}
{{ $swiperID = add "swiper" $swiperID }}
 
<!-- Slider main container -->
<div class="swiper {{ $swiperID }}">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
    <!-- Slides -->
        {{ range $image := $ImageFiles }}
            {{ $parts := split $image.Name "." }}
            {{ $length := len $parts }}
            {{ $ext := index $parts (sub $length 1)}}
            {{ if in (slice "jpg" "jpeg" "png" "gif") $ext }}
                <div class="swiper-slide">
                    <img src="{{add $ImagePath "/" $image.Name}}" alt="Images"> 
                </div>
            {{ end }}
        {{ end }}
    </div>

    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/shortcodes/swiper/swiper.css">